<div class="container">
  <div class="row justify-content-center">
    <% @projects.each do |project| %>
      <%= link_to project_features_path(project), class: "text-decoration-none text-dark" do %>
        <h1><%= project.name %></h1>
        <p><%= project.description %></p>
      <% end %>
    <%end%>
  </div>
</div>
