<div class="container mt-5">
  <div class="row g-4 justify-content-center">
    <h1>Projects</h1>
    <%= link_to "Create Project", new_project_path, class: "text-decoration-none btn btn-dark btn-sm text-light d-inline "  %>
    <% @projects.each do |project| %>
      <div class="col-md-6 col-lg-4 ">
        <%= link_to project_features_path(project), class: "text-decoration-none text-dark" do %>
          <div class="hover-overlay card h-100 shadow-sm">
            <div class="card-body">
              <h5 class="card-title"><%= project.name %></h5>
              <p class="card-text text-muted"><%= truncate(project.description, length: 120) %></p>
            </div>
            <div class="card-footer bg-white border-0 text-end">
              <span class="text-primary btn btn-secondary text-light ">View</span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
