<div class="container">
  <%= form_with do |f|  %>
    <h1>Create Project</h1>
    <p><%= f.text_field :name, placeholder: "Name" %></p>
    <p><%= f.text_field :description, placeholder: "Add description" %></p>
    <%= f.submit
 %>
  <% end %>
</div>
