<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <%= simple_form_for(@project) do |f|  %>
        <h1>Create Project</h1>
        <%= f.input :name, placeholder: "Name", class: " text-light fst-normal font-poppins" %>
        <%= f.input :description, placeholder: "Add description" %>
        <%= f.submit class: "btn btn-dark"%>
      <% end %>
    </div>
  </div>
</div>
