<div class="container">
<h1 class="text-center">Project Senpai</h1>
<% @features.each do |feature| %>
<p class="text-center"> <%= feature.summary %> </p>
<p class="text-center"> <%= feature.date_finished %> </p>
<% end %>
</div>
