<div class="container mt-5">
<div class="row g-4 justify-content-center">
<h1 class="text-left fw-bold">Features History</h1>
<p class="fw-bold"> Add Feature <%= link_to "Add", "#", class: "btn btn-primary" %> </p>
<ul class="text-left list-unstyled">
<% @features.each do |feature| %>
<div>
<li class="d-flex justify-content-between align-items-center mb-2">
<p class="fw-bold mb-0"> <%= feature.summary %></p>
<%= link_to "Chat", feature_path(feature), class: "btn btn-primary" %></li>
<li><p>Date Created: <%= feature.date_finished %> </p></li>
</div>
<div>
<hr class="border border-secondary border-3 opacity-75">
<% end %>
</ul>
</div>
</div>
